<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885333973088-ho0870vhbea3g3j91nv2nnpasosovotu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885333973088-ho0870vhbea3g3j91nv2nnpasosovotu</string>
	<key>API_KEY</key>
	<string>AIzaSyBP78kvQBdVg0sL2C_xXrORXI4hDTM_g2c</string>
	<key>GCM_SENDER_ID</key>
	<string>885333973088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michele.NoteCraft</string>
	<key>PROJECT_ID</key>
	<string>notecraftapp</string>
	<key>STORAGE_BUCKET</key>
	<string>notecraftapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885333973088:ios:0b570436162e337b3f4b05</string>
</dict>
</plist>